.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 130px;
    margin-bottom: 160px;

    button {
        margin-top: 30px;
    }

    img {
        margin: 0 auto 0 auto;
    }

    .small {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 70px;
        column-gap: 30px;
        color: #5D6970;

        img {
            margin: 0;
        }
    }
}

.lesser-images {
    img {
        transform: scale(0.8, 0.8);
    }
}
