.introduction {
    height: 1112px;
    background-image: url("./assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 10px;
    margin-bottom: 100px;

    .two-columns {
        margin-top: 210px;
    }
    .button-flex {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        gap: 30px;
    }
}
